/* clear the default box model */
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
}

.container{
    max-width: 1286px;
    margin: 0 auto;
}

/* Navigation bar */

#navbar{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 1rem 0 0;
    align-items: center;
}

#navbar .nav-link {
    color: #333;
    Font: arial, sans-serif; 
    Font-size: 13px;
    font-weight: 400;
    Line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
#navbar .apps-icon img {
    color: #333;
    opacity: 0.5;
    text-decoration: none;
}

#navbar .size img{
    width: 36px;
    border-radius: 50%;
}

#navbar .nav-link:hover{
    text-decoration: underline;
}

#navbar .apps-icon:hover {
    background: #f4f4f4;
    border-radius: 50%;
    padding: .25rem .25rem 0 .25rem;
}

#navbar .size img:hover{
    background: #f4f4f4;
    border-radius: 50%;
    padding: .35rem;
    
} 
 /* Main section */

 .main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    
}

.main-section .google-logo img{
    width: 320px;
    margin-top: 4.75rem;
    display: block;
  }

.search-box{
    max-width: 584px;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem auto;
    cursor: pointer;
    z-index: 3;
}

.search-box:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.text{
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
}

.search-icon, .mic{
    margin: 0 5px;
    width: 24px;
    height: 24px;
}

.button {
    display: flex;
    gap: .9rem;
    align-items: center;
}

.button .btn-search, .button .btn-feel{
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    background: #f8f9fa;
    color: rgb(32, 33, 36);
    padding: .25rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    
}

.button .btn-search:hover, .button .btn-feel:hover{
    box-shadow: 1px 1px 8px 2px #dcdcdc;
}

.language{
    display: flex;
    margin-bottom: 6.08rem;
    gap: 1rem;
    align-items: center;
}

.span-l{
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(60, 64, 67);
}

.language a{
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(26, 13, 171);
    text-decoration: none;
}

.language a:hover{
    text-decoration: underline;
}

.country{
    color: rgb(112, 117, 122);
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    padding: .5rem 2.5rem;
    background: #f2f2f2;
}

/* Footer section */

footer{
    background: #f2f2f2;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: #f2f2f2;
    position: sticky;
}

.footer .footer-left,.footer .footer-right{
display: flex;
gap: 2rem;
}

.footer-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(112, 117, 122);
}

.footer-link:hover{
    text-decoration: underline;
}